.search_class {
	border: 1px solid $cdd;margin-bottom: 10px;padding: 10px;
	background:$cfa;line-height: 1.6;
	strong {display: block;float: left;margin-right: 10px;}
	.search_class_content {
		a {margin-right: 10px;}
	}
}