.seller_list {

	ul {@extend .cf;padding-bottom: 18px;}
	li {
		float: left;width: 215px;margin-top: 18px;margin-right: 18px;
		&:nth-child(4n){margin-right: 0;}
		a,span {display: block;}
		a {
			position: relative;border: 1px solid $cdd;width: 195px;padding:40px 10px 10px;text-decoration: none;

			&:hover:after {
				position: absolute;left: 0;bottom: 0;right: 0;top: 0;background: rgba($c00,.5);
				content: "进入商家店铺";color: $cff;text-align: center;line-height: 125px;font-size: 18px;
			}
		}
		h3 {
			background: $pink;color: $cff;@include oneline(32px);text-align: center;
			position: absolute;top: 0;left: 0;right: 0;
		}
		span,address {line-height: 2;color: $c55;}
	}
}

.star_box {
	@extend .cf;padding:5px 0;
	&.fl {display: block;float: left;margin-right: 10px;}
	.item {display: block;float: left;width: 40px;height: 15px;line-height: 15px;color: $c55;}
	input {display: block;float: left;margin-right: 5px;}
	.star {
		&,&:before {
			display:block;height: 13px;width: 70px;float: left;
			background:url("../image/star.gif") 0 bottom no-repeat;
		}
		&:before {content: "";background-position: 0 0;}
		&.star_5:before {width: 100%;}
		&.star_4:before {width: 80%;}
		&.star_3:before {width: 60%;}
		&.star_2:before {width: 40%;}
		&.star_1:before {width: 20%;}
		&.star_0:before {width: 0;}
	}
}

.bar_seller {
	padding:5px 10px;line-height: 2;font-size: 13px;
	h1 {color: $c22;font-size: 15px;}
}
