// gray
$c55:#555;
$c22:#222;
$c33:#333;
$c99:#999;
$c77:#777;
$c00:#000;
$cff:#fff;
$caa:#aaa;
$ccc:#ccc;
$cf0:#f0f0f0;
$cdd:#ddd;
$cee:#eee;
$cf9:#f9f9f9;
$cf7:#F7F7F7;
$cfa:#fafafa;
$cf2:#f2f2f2;
$cf5:#f5f5f5;
$cf60:#FF8225;

$c3a:#3a3a3a;
$cfa:#fafafa;
$ca4:#a4a4a4;
$cc8:#c8c8c8;
$cca151d:#ca151d;
$ce01d20:#e01d20;
$cea:#eaeaea;
$cde:#dedede;
// colour
$red:#e71f19;
$red2:#c33;
$blue:#2d64b3;
$sblue:#0a99c8;
$qblue:#81dae8;
$green:#379339;
$cyan:#399;
$gold:#A49D86;
$sgold:#5F5750;
$pink:#F85D92;
$pink2:#F13E7A;
$yellow:#f5c53a;
$orange:#f29518;
