{set:$seller_id = $this->seller['seller_id'];$seller_name = $this->seller['seller_name'];}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>商家管理后台</title>
	<link type="image/x-icon" href="{webroot:favicon.ico}" rel="icon">
	{js:jquery}
	{js:dialog}
	{js:form}
	{js:artTemplate}
	{js:validate}
	<script type='text/javascript' src="{theme:javascript/html5.js}"></script>
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="{skin:css/ie.css}" type="text/css" media="screen" />
	<![endif]-->
	<link rel="stylesheet" href="{skin:css/admin.css}" type="text/css" media="screen" />
	<script type='text/javascript' src="{webroot:public/javascript/public.js}"></script>
</head>

<body>
	<!--头部 开始-->
	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="{url:/seller/index}"><img src="{skin:images/main/logo.png}" /></a></h1>
			<h2 class="section_title"></h2>
			<div class="btn_view_site"><a href="{url:}" target="_blank">网站首页</a></div>
			<div class="btn_view_site"><a href="{url:/site/home/id/$seller_id}" target="_blank">商家主页</a></div>
			<div class="btn_view_site"><a href="{url:/systemseller/logout}">退出登录</a></div>
		</hgroup>
	</header>
	<!--头部 结束-->

	<!--面包屑导航 开始-->
	<section id="secondary_bar">
		<div class="user">
			<p>{$seller_name}</p>
		</div>
	</section>
	<!--面包屑导航 结束-->

	<!--侧边栏菜单 开始-->
	<aside id="sidebar" class="column">
		{foreach:items=menuSeller::init()}
		<h3>{$key}</h3>
		<ul class="toggle">
			{foreach:items=$item key=$moreKey item=$moreValue}
			<li><a href="javascript:void(0)" onclick="{if:stripos($moreKey,'/') === 0}window.location.href='{url:$moreKey}'{else:}{$moreKey}{/if}">{$moreValue}</a></li>
			{/foreach}
		</ul>
		{/foreach}

		<footer>
			<hr />
			<p><strong>Copyright &copy; 2010-2018 iWebShop</strong></p>
			<p>Powered by <a href="http://www.aircheng.com">iWebShop</a></p>
		</footer>
	</aside>
	<!--侧边栏菜单 结束-->

	<!--主体内容 开始-->
	<section id="main" class="column">
		{viewcontent}
	</section>
	<!--主题内容 结束-->

	<script type="text/javascript">
	//菜单图片ICO配置
	function menuIco(val)
	{
		var icoConfig = {
			"管理首页" : "icn_tags",
			"销售额统计" : "icn_settings",
			"货款明细列表" : "icn_categories",
			"货款结算申请" : "icn_photo",
			"商品列表" : "icn_categories",
			"添加商品" : "icn_new_article",
			"平台共享商品" : "icn_photo",
			"商品咨询" : "icn_audio",
			"商品评价" : "icn_audio",
			"商品退款" : "icn_audio",
			"规格列表" : "icn_categories",
			"订单列表" : "icn_categories",
			"团购" : "icn_view_users",
			"促销活动列表" : "icn_categories",
			"物流配送" : "icn_folder",
			"发货地址" : "icn_jump_back",
			"资料修改" : "icn_profile",
		};
		return icoConfig[val] ? icoConfig[val] : "icn_categories";
	}

	$(".toggle>li").each(function()
	{
		$(this).addClass(menuIco($(this).text()));
	});
	</script>
</body>
</html>